<div class="edit-contents">
  <h1>Editing Book</h1>
  <%= form_with model:@book,local:true do |f| %>
    <%= render "layouts/error_form",model: @book %>
    <p>Title</p>
    <%= f.text_field :title %>
    <p>Body</p>
    <%= f.text_area :body %>
    <div class="update-book"><%= f.submit "Update Book" %></div>
  <% end %>
  <div class="link-show"><%= link_to "Show",book_path(@book.id) %></div>
  <div class="link-back"><%= link_to "Back",books_path %></div>
</div>